@neutral-100: #656c81;
@neutral-80: #7e859a;
@neutral-60: #a9adbc;
@neutral-40: #d4d6dd;
@neutral-20: #eeeff2;
@neutral-10: #f5f4f6;
@primary-300: #06439d;
@primary-100: #0858ce;
@primary-60: #5396f8;
@primary-20: #b5d2fc;
@primary-10: #ebf3fe;
@info-100: #0bb2cb;
@error-100: #d6293a;
@dark-gray: #4a4f5f;
@light-gray: #9ba0b1;

@components-prefix: ~"bn-components";

.@{components-prefix}-table {
  background-color: #fff;
  width: 100%;

  .table-sort-on {
    color: @primary-60;
  }

  .table-sort-off {
    color: @primary-20;
  }

  thead {
    border-bottom: 1px solid @neutral-40;
    color: @neutral-100;

    .@{components-prefix}-carets {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 0.5rem;
      color: @neutral-60;
    }

    .@{components-prefix}-th-wrapper {
      padding: 12px 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: @primary-60;
      }
    }
  }

  td {
    padding: 14px 24px;
    color: @neutral-80;

    &.@{components-prefix}-is-expanded {
      color: @primary-60;
      font-weight: bold;
    }

    .@{components-prefix}-showmore {
      width: 24px;
      height: 24px;
      appearance: none;
      border: 1px solid;
      border-radius: 8px;
      cursor: pointer;
      color: @primary-100;
      border-color: @primary-60;
      background-color: transparent;
      float: right;
    }

    .@{components-prefix}-showmore-on {
      border-color: @primary-100;
      color: @primary-300;
      background-color: @primary-20;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  tr.@{components-prefix}-is-expanded {
    background-color: @primary-10;
    position: relative;

    td:first-child {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-radius: 0px 8px 8px 0px;
        background-color: @primary-100;
      }
    }
  }

  .@{components-prefix}-expanded-row {
    td {
      background-color: transparent;
    }

    table {
      outline: 1px solid @neutral-40;
      border-radius: 8px;
    }
  }
}
