<bn-table #tableComponent [bnData]="data">
  <thead (bnSortChange)="sort($event)">
    <tr>
      <th bnShowSort bnSortKey="name" bnSort="ascend">Nome</th>
      <th bnShowSort bnSortKey="name">Sobrenome</th>
      <th>Idade</th>
      <th>Família</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="tableComponent.bnData">
      <tr>
        <td>{{ data.nome }}</td>
        <td>{{ data.sobrenome }}</td>
        <td>{{ data.idade }}</td>
        <td bnShowExpand [(bnExpand)]="data.expand">3</td>
      </tr>
      <tr [bnExpand]="data.expand">
        <td colspan="4">
          <bn-table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ data.nome }}</td>
                <td>{{ data.sobrenome }}</td>
                <td>{{ data.idade }}</td>
              </tr>
            </tbody>
          </bn-table>
        </td>
      </tr>
    </ng-template>
  </tbody>
</bn-table>
